<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!-- /Google font -->
    <link rel="stylesheet" href="style/style.css">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <title>PHP Dischi</title>
</head>
<body>
    
    <div id="app">
        <header>
            <div>
                <img src="./img/spotify-logo.png" alt="Logo">
            </div>
            <div>
                <label for="selectGenre">Select genre</label>
                <select name="selectGenre" id="selectGenre" v-model="genreSelected">
                    <option value="" selected>All genre</option>
                </select>
            </div>
        </header>

        <main>
            <div class="container">
                <div v-for="(album, index) in albums" :key="index" class="album">
                    <img :src="album.poster" :alt="album.author + album.title">
                    <h2>{{album.title}}</h2>
                    <p>{{album.author}}</p>
                    <p>{{album.year}}</p>
                </div>
            </div>
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>